body{
    background: white;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

a{
  text-decoration: none;
}

button{
    background: none;
    font-size: 14px;
    font-weight: bold;
}

button:hover{
    border-bottom: 2px salmon;
    border-radius: 20px;
    border-top: 3px yellow solid;
    background: none;
    font-size: 14px;
    font-weight: bold;
}
#parrent{
    padding:55px;
    width: 2.5in;
    margin: 0 auto;
    height: 2in;
}

.about-item{
    padding: 0px 2px;
    margin: 0;
}

.product-name {
    text-align: center;
    font-size: 16px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    gap: 5px;
    width: 100%;
}

.features-container {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: normal;
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-container {
    margin-top: 2px;
    font-size: 13px;
    font-weight: normal;
}


.date-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex {
    display: flex;
}

form{
    max-width: 250px;
    position: fixed;
    top: 10%;
    right: 25px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 2px;
}