body {
  margin: 0;
}

header{
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

@media print {

  body {
    margin: 0;
    width: 100%;
  }

  header{
    display: none;
  }

  #info-form{
    display: none;
  }

}