body{
    background: white;
    color: black;
    font-weight: bold;
    font-family: arial ;
 
}

#parrent{
    padding:70px 55px;
    width: 2.5in;
    margin: 0 auto;
    height: 2in;
}

.about-item{
    padding: 0px 2px;
    margin: 0;
}

.product-name {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.badge{
    border: 2px solid black;
    padding: 3px;
    font-size: 12px;
}

.info-item {
    font-size: 14px;
    display: flex;
    font-weight: normal;
    gap: 5px;
    width: 100%;
}

.address-box{
    margin-top: 5px;
}
.footer-item{
    font-size: 12px;
    display: flex;
    font-weight: normal;
    gap: 2px;
    width: 100%;
}

a{
  text-decoration: none;
}

button{
    background: none;
    font-size: 14px;
    font-weight: bold;
}

button:hover{
    border-bottom: 2px salmon;
    border-radius: 20px;
    border-top: 3px yellow solid;
    background: none;
    font-size: 14px;
    font-weight: bold;
}
.date-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex {
    display: flex;
}

.between{
    justify-content: space-between;
}
.margens{
        width: 60%;
}

.align-center{
    align-items:center;
}

.center{
     justify-content: center;
}

.Specifications{
    margin: 10px 0;
}

form{
    max-width: 250px;
    position: fixed;
    top: 10%;
    right: 25px;
}
.border-0{
    border: none !important;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 2px;
}